# Default values for xmrig.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: brannondorsey/alpine-xmrig
  pullPolicy: IfNotPresent

pool: xmr.pool.minergate.com:45700
email: email@example.com
password: password
poolDonationPercent: 1 # 1/100

randomxMode: fast # also accepts "light" for replicas with < ~5GB RAM

resources:
  limits:
    # At least 5Gi is recommended for "fast" randomxMode. 512Mi can be used if
    # running in "light" mode instead.
    memory: 5Gi

nodeSelector: {}

tolerations: []

affinity: {}
